# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.pyd
*.pyc
*.pyo

# ignore file and foleders
*~
.idea/
/env
logger/__pycache__/
notebooks/.ipynb_checkpoints/
*.wav
samples/test.wav
build/
dist/pysound-0.0.1-py3-none-any.whl
pysound.egg-info/
dist/